{% extends 'siteBundle::base.html.twig' %}
{% block filtre %}
<div class="col-lg-10 col-sm-9" id="filtre">
                    <div class="col-sm-2">
                        <ul id="menu">
                           <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">FILTRER PAR
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <form action="">
                                        <div class="col-lg-12 col-md-6 col-sm-3">
                                            <li><input type="checkbox" />cour...</li>
                                            <li><input type="checkbox" />cour...</li>
                                            <li><input type="checkbox" />cour...</li>
                                            <li><input type="checkbox" />cour...</li>
                                            <li><input type="checkbox" />cour...</li>
                                            <li><input type="checkbox" />cour...</li>
                                            <li><input type="checkbox" />cour...</li>
                                            <li><input type="checkbox" />cour...</li>
                                            <li><input type="checkbox" />cour...</li>
                                            <li><input type="checkbox" />cour...</li>
                                            <li><input type="checkbox" />cour...</li>
                                            <li><input type="checkbox" />cour...</li>
                                        <div>
                                                <br>
                                                <p>Evaluation</p>
                                                <li><input type="checkbox" />Quizz</li>
                                                <li><input type="checkbox" />Exercices</li>
                                                <li><input type="checkbox" />Exercices corrigés</li>
                                                <br>
                                                <p>Semestres</p>
                                                <div class="col-sm-6">
                                                    <li><input type="checkbox" />S1</li>
                                                    <li><input type="checkbox" />S2</li>
                                                    <li><input type="checkbox" />S3</li>
                                                    <li><input type="checkbox" />S4</li>
                                                </div>
                                                <div class="col-sm-6">
                                                    <li><input type="checkbox" />S1D</li>
                                                    <li><input type="checkbox" />S2D</li>
                                                    <li><input type="checkbox" />S3D</li>
                                                    <li><input type="checkbox" />S4D</li>
                                                </div>
                                    </form>
                                    </ul>
                                </li>
                           
                        
                        </ul>
                        </div>
                        <div class="col-sm-10"></div>               
</div>
{% endblock %} 
{% block titre_page %}<h1>Liste des cours</h1><hr>{% endblock %}   
{% block contenu %}
{% for cour in cours %}
{% if cour.datefcours > date() %}
    <div class="col-lg-12 cours">
	        <div class="col-lg-8">
	        <h2><a href="{{ path('cours_chapitres', {'idCours': cour.id, 'order': '1'})}}">{{ cour.intitulecours }}</a></h2>
	        <p><b>Publié le: {{ cour.datedcours|date('d M Y') }} / Prendra fin le: {{ cour.datefcours|date('d M Y') }}</b></p>
	        <p>{{ cour.introcours }}</p>
	    	</div>
	        <div class="col-lg-4">
                <img src="{{asset('images/cours/')}}{% if cour.imagename is not empty %}{{ cour.imagename }}{% else %}noimage.png{% endif %}" class="img-responsive center-block">
	        </div>
    </div>
{% endif %}
{% endfor %}
{% endblock %}



